body {
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	font-family: 'btn', arial, sans-serif;

}
/*************************************************************Canvas**/
#canvas {
	background-color: #000;
}
/********************************************************Typographie**/
@font-face {
	font-family: 'btn';
	src: url('typo/3Dventure.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'over';
	src: url('typo/upheavtt.ttf');
	font-weight: normal;
}
